---
import type { Post } from '@utils/types';
import { formatDate, generateSlug } from '@utils/scripts';
import SmallCard from '@components/feed/SmallCard.astro';

interface Props {
  posts: Post[];
  title: string;
}

const { posts, title }: Props = Astro.props;
---

<div class="archive-section">
  <h2 class="title font-uppercase">{title}</h2>
  <div class="posts">
    {
      posts.map((post: Post) => (
        <SmallCard
          title={post.data.title}
          slug={generateSlug(post.data.title)}
          subtitle={post.data.options?.archiveSubtitle}
          additionalInfo={formatDate(post.data.datePublished)}
        />
      ))
    }
  </div>
</div>

<style lang="scss">
  .archive-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }

  .title {
    font-size: var(--font-size-m);
  }
  .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
