---
import type { PostMeta } from 'src/utils/types';
import { Image } from 'astro:assets';
import PostTags from '../tags/PostTags.astro';

interface Props {
  postMeta: PostMeta;
}

const { postMeta }: Props = Astro.props;
---

<article class="wrapper grid">
  <div class="description">
    <header class="description__title">
      <span class="description__date font-hgv-uppercase">
        {postMeta.datePublished}
      </span>
      <h2 class="description__title font-hgv-regular">
        {postMeta.title}
      </h2>
    </header>
    <div class="description__excerpt font-hgv-light">
      <p>
        {postMeta.excerpt}
      </p>
    </div>
    <PostTags tags={postMeta.tags} />
  </div>
  <div class="featured-image">
    <a href="/">
      <Image
        class="image"
        src={postMeta.image.url}
        alt={postMeta.image.alt}
        width="400"
        height="400"
      />
    </a>
  </div>
</article>

<style lang="scss">
  .wrapper {
    padding-bottom: var(--space-30-40);
    border-bottom: var(--color-bg-secondary) solid 1px;

    @media only screen and (width <= 460px) {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--space-30-40);
    }
  }

  .description {
    grid-column: 1 / 10;
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);

    &__title {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__date {
      font-size: var(--font-size-2xs);
    }

    &__title {
      font-size: var(--font-size-xl);
    }

    &__excerpt {
      font-size: var(--font-size-s);
    }
  }

  .featured-image {
    grid-column: 10 / 13;
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
</style>
