---
import type { Post } from '@utils/types';
import { customTypography, formatDate, generateSlug } from '@utils/scripts';
import { render } from 'astro:content';
import { Image } from 'astro:assets';
import ContentWrapper from '@layouts/ContentWrapper.astro';
import Tags from '@components/feed/Tags.astro';

interface Props {
  post: Post;
}

const { post }: Props = Astro.props;
const { Content } = await render(post);
---

<article class="post-card">
  <div class="content">
    <header>
      <a class="post-header link-primary" href={generateSlug(post.data.title)}>
        {
          post.data.options && post.data.options.hideTitle ? null : (
            <h2 class="title font-small-caps">{post.data.title}</h2>
          )
        }
        <p class="date font-caption">{formatDate(post.data.datePublished)}</p>
      </a>
    </header>
    {
      post.data.options && post.data.options.excerpt ? (
        <div class="excerpt">
          {post.data.options.featuredImage ? (
            <Image
              class="image"
              src={post.data.options.featuredImage.url}
              alt={post.data.options.featuredImage.alt}
              width="720"
              height="720"
              decoding="async"
              loading="eager"
            />
          ) : null}
          <ContentWrapper>
            <p>{post.data.options.excerpt}</p>
          </ContentWrapper>
          <a
            class="read-more font-small-caps link-primary"
            href={generateSlug(post.data.title)}
          >
            Continue reading...
          </a>
        </div>
      ) : (
        <ContentWrapper>
          <Content components={customTypography} />
        </ContentWrapper>
      )
    }
    <Tags tags={post.data.tags} />
  </div>
</article>

<style lang="scss">
  .post-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-100-160);

    &:not(:last-child) {
      &::after {
        background: var(--color-accent-secondary);
        content: '';
        display: block;
        height: 1px;
        width: var(--space-100-160);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }

  .post-header {
    display: block;
  }

  .date {
    font-size: var(--font-size-xs);
  }

  .title {
    font-size: var(--font-size-l);
    line-height: 135%;
  }

  .excerpt {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }

  .image {
    aspect-ratio: auto;
    height: auto;
    width: 100%;
  }

  .read-more {
    font-size: var(--font-size-m);
  }
</style>
