---
import type { Topic } from '@utils/types';
import { generateSlug } from '@utils/scripts';
import { Image } from 'astro:assets';

interface Props {
  topic: { topic: Topic; lastUpdated: string };
}

const { topic }: Props = Astro.props;
---

<article class="topic-card">
  <Image
    class="image"
    src={topic.topic.data.featuredImage.url}
    alt={topic.topic.data.featuredImage.alt}
    width="420"
    height="280"
    decoding="async"
    loading="eager"
  />
  <header>
    <a
      class="link-secondary"
      href={`tags/${generateSlug(topic.topic.data.title)}`}
    >
      <h2 class="title font-small-caps">{topic.topic.data.title}</h2>
    </a>
    <p class="date font-caption">Last updated on {topic.lastUpdated}</p>
  </header>
  <p class="description">{topic.topic.data.description}</p>
</article>

<style lang="scss">
  .topic-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image {
    aspect-ratio: 3/2;
    height: auto;
    width: 100%;
  }

  .title {
    color: var(--color-accent-primary);
    font-size: var(--font-size-m);
    line-height: 135%;
  }

  .date {
    font-size: var(--font-size-xs);
  }

  .description {
    color: var(--color-secondary);
    font-size: var(--font-size-s);
    line-height: 135%;
  }
</style>
