---
import type { Post, TopicItem } from '@utils/types';
import { getCollection } from 'astro:content';
import { formatDate, generateSlug, sortPostsDesc } from '@utils/scripts';
import topics from '@data/topics.json';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';
import SmallCard from '@components/feed/SmallCard.astro';

const posts = await getCollection('posts');
const lastUpdated = (topic: TopicItem): string => {
  const topicPosts: Post[] = posts.filter((post: Post) =>
    post.data.tags.includes(topic.title)
  );
  return sortPostsDesc(topicPosts)[0].data.datePublished;
};
const topicItems = topics.map((topic: TopicItem) => {
  return {
    title: topic.title,
    url: generateSlug(topic.title),
    description: topic.description,
    lastUpdated: lastUpdated(topic),
  };
});

const sortedTopicItems = () => {
  return topicItems.sort((prev, next) =>
    new Date(prev.lastUpdated) < new Date(next.lastUpdated) ? 1 : -1
  );
};
---

<GlobalWrapper pageTitle="Topics">
  <PageTitle slot="title" showPhoto={false} title="Topics" />
  <div slot="main" class="content">
    {
      sortedTopicItems().map((topic) => (
        <SmallCard
          title={topic.title}
          slug={`/topics/${topic.url}`}
          subtitle={topic.description}
          additionalInfo={formatDate(topic.lastUpdated)}
        />
      ))
    }
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: var(--space-100-160);
  }
</style>
