---
import type { Post } from '@utils/types';
import { formatDate, sortPostsDesc } from '@utils/scripts';
import SmallCard from '@components/cards/SmallCard.astro';

interface Props {
  posts: Post[];
}

const { posts }: Props = Astro.props;

const sections: string[] = ['2025'];

const sectionPosts = (section: string): Post[] => {
  return sortPostsDesc(
    posts.filter((post: Post) => post.data.datePublished.includes(section))
  );
};
---

<div class="archive-feed">
  {
    sections.map((section: string) => (
      <div class="archive-section">
        <div class="section-wrapper">
          <h2 class="title font-uppercase">{section}</h2>
          <div class="posts">
            {sectionPosts(section).map((post: Post) => (
              <SmallCard
                title={post.data.title}
                slug={post.data.permalink}
                subtitle={post.data.subtitle}
                additionalInfo={formatDate(post.data.datePublished)}
              />
            ))}
          </div>
        </div>
      </div>
    ))
  }
</div>

<style lang="scss">
  .archive-feed {
    display: flex;
    flex-direction: column;
    gap: var(--space-100-160);
    width: 100%;

    &:not(:last-child) {
      &::after {
        background: var(--color-accent-secondary);
        content: '';
        display: block;
        height: 1px;
        width: var(--space-100-160);
      }
    }
  }

  .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
  }

  .title {
    font-size: var(--font-size-m);
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>
