---
import type { InferEntrySchema } from 'astro:content';
import type { NavigationItem } from '@utils/types';
import { generateTagItem } from '@utils/scripts';

interface Props {
  postMeta: InferEntrySchema<'posts'>;
}

const { postMeta } = Astro.props;

const tags: NavigationItem[] = postMeta.tags.map((tag: string) =>
  generateTagItem(tag)
);
---

<section class="page-title-section">
  <div class="title">
    <h1 class="title__heading font-hgv-regular">
      {postMeta.title}
    </h1>
    <h2 class="title__subheading font-hgv-light">
      {postMeta.excerpt}
    </h2>
  </div>
  <div class="meta">
    <div>
      <p class="date font-hgv-uppercase">{postMeta.datePublished}</p>
    </div>
    <div>
      <ul class="tags" role="list">
        {
          tags.map((tag: NavigationItem) => (
            <li>
              <a class="link--tag font-hgv-regular" href={`/tags/${tag.url}`}>
                {tag.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style lang="scss">
  .page-title-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding: var(--space-60-80) 0 var(--space-30-40) 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: var(--space-10-20);

    &__heading {
      max-width: 66%;
      font-size: var(--font-size-2xl);

      @media only screen and (width <= 768px) {
        max-width: 100%;
      }
    }

    &__subheading {
      max-width: 50%;
      font-size: var(--font-size-m);

      @media only screen and (width <= 768px) {
        max-width: 100%;
      }
    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--space-60-80);
    border-bottom: var(--color-bg-secondary) solid 1px;

    @media only screen and (width <= 768px) {
      flex-direction: column;
      gap: var(--space-30-40);
      align-items: flex-start;
    }
  }

  .date {
    font-size: var(--font-size-2xs);
  }

  .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
</style>
