---
import type { ExtendedTopic } from '@utils/types';
import { Image } from 'astro:assets';

interface Props {
  extendedTopic: ExtendedTopic;
}

const { extendedTopic }: Props = Astro.props;
---

<article class="topic-card">
  <Image
    class="image"
    src={extendedTopic.topic.data.featuredImage.url}
    alt={extendedTopic.topic.data.featuredImage.alt}
    width="420"
    height="560"
    decoding="async"
    loading="eager"
  />
  <header>
    <a class="link-secondary" href={`topics/${extendedTopic.topic.slug}`}>
      <h2 class="title font-small-caps">{extendedTopic.topic.data.title}</h2>
    </a>
    <p class="date font-caption">Last updated on {extendedTopic.lastUpdated}</p>
  </header>
  <p class="subtitle">{extendedTopic.topic.data.subtitle}</p>
</article>

<style lang="scss">
  .topic-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image {
    aspect-ratio: 3/4;
    height: auto;
    width: 100%;
  }

  .title {
    color: var(--color-accent-primary);
    font-size: var(--font-size-m);
    line-height: 135%;
  }

  .date {
    font-size: var(--font-size-xs);
  }

  .subtitle {
    color: var(--color-secondary);
    font-size: var(--font-size-s);
    line-height: 135%;
  }
</style>
