---
import type { GetStaticPaths, Page } from 'astro';
import type { NavigationItem, Post } from '@utils/types';
import { generateUniqueTags, sortPostsDesc } from '@utils/scripts';
import { getCollection } from 'astro:content';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/title/PageTitle.astro';
import Pagination from '@components/feed/Pagination.astro';
import PostList from '@components/feed/PostList.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts: Post[] = await getCollection('posts');
  const uniqueTags = generateUniqueTags(allPosts);
  return uniqueTags.flatMap((tag: NavigationItem) => {
    const tagPosts = allPosts.filter((post: Post) =>
      post.data.tags.includes(tag.title)
    );
    return paginate(sortPostsDesc(tagPosts), {
      params: { tag: tag.url },
      props: { tagName: tag.title },
      pageSize: 10,
    });
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Post>;
  tagName: string;
}

const { page, tagName }: Props = Astro.props;
---

<GlobalWrapper pageTitle=`Tag: ${tagName}`>
  <PageTitle slot="title" title=`Tag: ${tagName}` />
  <div slot="main" class="content">
    <PostList posts={page.data} />
    {
      page.lastPage === 1 ? null : (
        <Pagination
          prevPage={page.url.prev}
          nextPage={page.url.next}
          currentPage={page.currentPage}
          pagesTotal={page.lastPage}
        />
      )
    }
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
</style>
