---
import type { GetStaticPaths, Page } from 'astro';
import type { Post, Topic } from '@utils/types';
import { generateSlug, sortPostsDesc } from '@utils/scripts';
import { getCollection } from 'astro:content';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';
import Pagination from '@components/feed/Pagination.astro';
import PostList from '@components/feed/PostList.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts: Post[] = await getCollection('posts');
  const topics: Topic[] = await getCollection('topics');
  return topics.flatMap((topic: Topic) => {
    const topicPosts = allPosts.filter((post: Post) =>
      post.data.tags.includes(topic.data.title)
    );
    return paginate(sortPostsDesc(topicPosts), {
      params: { topic: generateSlug(topic.data.title) },
      props: { topicName: topic.data.title },
      pageSize: 10,
    });
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Post>;
  topicName: string;
}

const { page, topicName }: Props = Astro.props;
---

<GlobalWrapper pageTitle=`Topic: ${topicName}`>
  <PageTitle slot="title" showPhoto={false} title=`Topic: ${topicName}` />
  <div slot="main" class="content">
    <PostList posts={page.data} />
    {
      page.lastPage === 1 ? null : (
        <Pagination
          prevPage={page.url.prev}
          nextPage={page.url.next}
          currentPage={page.currentPage}
          pagesTotal={page.lastPage}
        />
      )
    }
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: var(--narrow-content);
  }
</style>
