---
import type { GetStaticPaths, Page } from 'astro';
import type { Post, TopicItem } from '@utils/types';
import { sortPostsDesc } from '@utils/scripts';
import { getCollection } from 'astro:content';
import topics from '@data/topics.json';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/title/PageTitle.astro';
import Pagination from '@components/feed/Pagination.astro';
import PostList from '@components/feed/PostList.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts: Post[] = await getCollection('posts');
  return topics.flatMap((topic: TopicItem) => {
    const topicPosts = allPosts.filter(
      (post: Post) => post.data.topic === topic.title
    );
    return paginate(sortPostsDesc(topicPosts), {
      params: { topic: topic.url },
      props: { topicName: topic.title },
      pageSize: 10,
    });
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Post>;
  topicName: string;
}

const { page, topicName }: Props = Astro.props;
---

<GlobalWrapper pageTitle=`Topic: ${topicName}`>
  <PageTitle slot="title" title=`Topic: ${topicName}` />
  <div slot="main" class="content">
    <PostList posts={page.data} />
    {
      page.lastPage === 1 ? null : (
        <Pagination
          prevPage={page.url.prev}
          nextPage={page.url.next}
          currentPage={page.currentPage}
          pagesTotal={page.lastPage}
        />
      )
    }
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
</style>
