---
import type { GetStaticPaths, Page } from 'astro';
import type { Post } from '@utils/types';
import { getCollection } from 'astro:content';
import { sortPostsDesc } from '@utils/scripts';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';
import Pagination from '@components/feed/Pagination.astro';
import PostList from '@components/feed/PostList.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const posts: Post[] = await getCollection('posts');
  return paginate(sortPostsDesc(posts), {
    pageSize: 10,
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Post>;
}

const { page } = Astro.props;
---

<GlobalWrapper pageTitle="A Journal of the Buried Life">
  <PageTitle
    slot="title"
    showPhoto={true}
    title="A Journal of the Buried Life"
    subtitle="My name is Evgenii. Welcome to my website. I write about my hobbies and life, and I post my art and music."
  />
  <div slot="main" class="content">
    <PostList posts={page.data} />
    {
      page.lastPage === 1 ? null : (
        <Pagination
          prevPage={page.url.prev}
          nextPage={page.url.next}
          currentPage={page.currentPage}
          pagesTotal={page.lastPage}
        />
      )
    }
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
</style>
