---
import type { GetStaticPaths, Page } from 'astro';
import type { ExtendedTopic, Post, Topic } from '@utils/types';
import { getCollection } from 'astro:content';
import { formatDate, sortPostsDesc } from '@utils/scripts';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';
import Pagination from '@components/Pagination.astro';
import TopicFeed from '@components/feeds/TopicFeed.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const posts: Post[] = await getCollection('posts');
  const topics: Topic[] = await getCollection('topics');

  const topicsWithPosts = topics.filter((topic) =>
    posts.some((post) => post.data.topicId.includes(topic.data.id))
  );

  const calculateLastUpdated = (topic: Topic): string => {
    const topicPosts: Post[] = posts.filter((post: Post) =>
      post.data.topicId.includes(topic.data.id)
    );
    return formatDate(sortPostsDesc(topicPosts)[0].data.datePublished);
  };

  const extendedTopics: ExtendedTopic[] = topicsWithPosts
    .map((topic: Topic) => {
      return {
        topic: topic,
        lastUpdated: calculateLastUpdated(topic),
      };
    })
    .sort((prev, next) =>
      new Date(prev.lastUpdated) < new Date(next.lastUpdated) ? 1 : -1
    );
  return paginate(extendedTopics, {
    pageSize: 6,
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<ExtendedTopic>;
}

const { page } = Astro.props;
---

<GlobalWrapper pageTitle="A Journal of the Buried Life">
  <PageTitle
    slot="title"
    showPhoto={true}
    title="A Journal of the Buried Life"
    subtitle="My name is Evgenii. Welcome to my website. I write about my hobbies and life, and I post my art and music."
  />
  <div slot="main" class="content">
    <TopicFeed extendedTopics={page.data} />
    {
      page.lastPage === 1 ? null : (
        <Pagination
          prevPage={page.url.prev}
          nextPage={page.url.next}
          currentPage={page.currentPage}
          pagesTotal={page.lastPage}
        />
      )
    }
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: var(--space-100-160);
  }
</style>
