---
import type { GetStaticPaths, Page } from 'astro';
import type { Post } from '@utils/types';
import { getCollection } from 'astro:content';
import { sortPostsDesc } from '@utils/scripts';
import GlobalWrapper from '@layouts/GlobalWrapper.astro';
import PageTitle from '@components/PageTitle.astro';
import Pagination from '@components/Pagination.astro';
import PostFeed from '@components/feeds/PostFeed.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const posts: Post[] = await getCollection('posts');
  return paginate(sortPostsDesc(posts), {
    pageSize: 2,
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Post>;
}

const { page } = Astro.props;
---

<GlobalWrapper pageTitle="Gardens & Ruins">
  <PageTitle
    slot="title"
    title="Gardens & Ruins"
    subtitle="My name is Evgenii. Welcome to my journal and digital garden where I reflect on my life, trying to re-discover my real self."
  />
  <div slot="main" class="content">
    <PostFeed posts={page.data} />
    {
      page.lastPage === 1 ? null : (
        <Pagination
          prevPage={page.url.prev}
          nextPage={page.url.next}
          currentPage={page.currentPage}
          pagesTotal={page.lastPage}
        />
      )
    }
  </div>
</GlobalWrapper>

<style lang="scss">
  .content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: var(--narrow-content);
    padding-top: var(--space-100-160);
    width: 100%;
  }
</style>
