---
import type { NavigationItem } from '@utils/types';
import navigationLinks from '@data/navigation.json';
import { Image } from 'astro:assets';
import menu from '@images/assets/menu.svg';
---

<div class="navigation">
  <div class="navigation__main">
    <a class="logo" href="/">
      <span class="logo__title font-uppercase">Boreal Heights</span>
      <span class="logo__subtitle font-light">Journal of Evgenii Grigorev</span>
    </a>
    <nav class="links">
      <ul class="links__desktop" role="list">
        {
          navigationLinks.map((link: NavigationItem) => (
            <li>
              <a class="links__item font-regular" href={link.url}>
                {link.title}
              </a>
            </li>
          ))
        }
      </ul>
      <button class="links__mobile" id="dropdown-button"
        ><Image
          class="posts__pagination__arrow"
          src={menu}
          alt="Dropdown menu"
          width="25"
          height="25"
          decoding="async"
          loading="lazy"
        /></button
      >
    </nav>
  </div>
  <div class="navigation__dropdown hidden" id="dropdown-wrapper">
    <nav>
      <ul role="list">
        {
          navigationLinks.map((link: NavigationItem) => (
            <li>
              <a class="font-regular" href={link.url}>
                {link.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>

<script>
  document.querySelector('#dropdown-button')?.addEventListener('click', () => {
    document.querySelector('#dropdown-wrapper')?.classList.toggle('hidden');
  });
</script>

<style lang="scss">
  .navigation {
    padding: var(--space-30-40) var(--space-40-100-wide);

    @media only screen and (width <= 1420px) {
      padding: var(--space-30-40);
    }

    &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo {
    &__title {
      display: block;
      font-size: var(--font-size-xs);
    }

    &__subtitle {
      display: block;
      font-size: var(--font-size-2xs);
    }
  }

  .links {
    &__desktop {
      display: flex;
      align-items: center;
      gap: 30px;

      @media only screen and (width <= 768px) {
        display: none;
      }
    }

    &__mobile {
      display: none;
      background: none;
      border: none;

      &:hover,
      &:focus {
        cursor: pointer;
      }

      @media only screen and (width <= 768px) {
        display: block;
      }
    }

    &__item {
      font-size: var(--font-size-s);
    }
  }

  .hidden {
    display: none;
  }
</style>
