---
import type { NavigationItem } from '@utils/types';
import mobileNavigationLinks from '@data/mobileNavigation.json';
import journalCategories from '@data/journalCategories.json';
import { Image } from 'astro:assets';
import menuIcon from '@images/assets/menu-icon.svg';
import closeIcon from '@images/assets/close-icon.svg';
import expandIcon from '@images/assets/expand-icon.svg';
import collapseIcon from '@images/assets/collapse-icon.svg';
---

<div class="navigation">
  <a class="logo" href="/">
    <span class="logo__title font-uppercase">Boreal Heights</span>
    <span class="logo__subtitle font-light">Journal of Evgenii Grigorev</span>
  </a>
  <nav>
    <div class="navigation__desktop">
      <ul class="navigation__links" role="list">
        <li class="categories">
          <a class="navigation__item font-regular" href="/">Journal</a>
          <div class="categories-wrapper">
            <button class="navigation__button" id="categories-button"
              ><Image
                id="expand-icon"
                src={expandIcon}
                alt="Open categories dropdown"
                width="25"
                height="25"
                decoding="async"
                loading="eager"
              />
              <Image
                id="collapse-icon"
                class="hidden"
                src={collapseIcon}
                alt="Close categories dropdown"
                width="25"
                height="25"
                decoding="async"
                loading="eager"
              />
            </button>
            <div
              id="categories-content"
              class="dropdown__categories-content hidden"
            >
              <ul class="dropdown__items" role="list">
                {
                  journalCategories.map((link: NavigationItem) => (
                    <li>
                      <a class="navigation__item font-regular" href={link.url}>
                        {link.title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a class="navigation__item font-regular" href="/">About</a>
        </li>
        <li>
          <a class="navigation__item font-regular" href="/">Reading</a>
        </li>
      </ul>
    </div>
    <div class="navigation__mobile dropdown">
      <button class="navigation__button" id="dropdown-button"
        ><Image
          id="menu-icon"
          src={menuIcon}
          alt="Open mobile menu"
          width="25"
          height="25"
          decoding="async"
          loading="eager"
        />
        <Image
          id="close-icon"
          class="hidden"
          src={closeIcon}
          alt="Close mobile menu"
          width="25"
          height="25"
          decoding="async"
          loading="eager"
        />
      </button>
      <div id="dropdown-content" class="dropdown__content hidden">
        <ul class="dropdown__items" role="list">
          {
            mobileNavigationLinks.map((link: NavigationItem) => (
              <li>
                <a class="navigation__item font-regular" href={link.url}>
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>
</div>

<script>
  document.querySelector('#dropdown-button')?.addEventListener('click', () => {
    document.querySelector('#dropdown-content')?.classList.toggle('hidden');
    document.querySelector('#menu-icon')?.classList.toggle('hidden');
    document.querySelector('#close-icon')?.classList.toggle('hidden');
  });

  document
    .querySelector('#categories-button')
    ?.addEventListener('click', () => {
      document.querySelector('#categories-content')?.classList.toggle('hidden');
      document.querySelector('#expand-icon')?.classList.toggle('hidden');
      document.querySelector('#collapse-icon')?.classList.toggle('hidden');
    });
</script>

<style lang="scss">
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-30-40) var(--space-40-100-wide);

    @media only screen and (width <= 1420px) {
      padding: var(--space-30-40);
    }

    &__desktop {
      display: flex;

      @media only screen and (width <= 768px) {
        display: none;
      }
    }

    &__mobile {
      display: none;

      @media only screen and (width <= 768px) {
        display: flex;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      gap: var(--space-20-30);
    }

    &__item {
      font-size: var(--font-size-s);
    }

    &__button {
      background: none;
      border: none;

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }

  .logo {
    &__title {
      display: block;
      font-size: var(--font-size-xs);
    }

    &__subtitle {
      display: block;
      font-size: var(--font-size-2xs);
    }
  }

  .dropdown {
    position: relative;

    &__content {
      display: none;
      margin-top: var(--space-30-40);
      padding: var(--space-30-40);
      background-color: var(--color-bg-primary);
      border: 1px solid var(--color-accent-secondary);
      box-shadow: 10px 10px var(--color-bg-secondary);
      position: absolute;
      right: 0;
      width: max-content;

      @media only screen and (width <= 768px) {
        display: block;
      }
    }

    &__categories-content {
      display: block;
      margin-top: var(--space-30-40);
      padding: var(--space-30-40);
      background-color: var(--color-bg-primary);
      border: 1px solid var(--color-accent-secondary);
      box-shadow: 10px 10px var(--color-bg-secondary);
      position: absolute;
      right: 0;
      width: max-content;

      @media only screen and (width <= 768px) {
        display: none;
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: var(--space-20-30);
    }
  }

  .hidden {
    display: none;
  }

  .categories {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .categories-wrapper {
    display: flex;
  }
</style>
