---
import type { PageTitleOptions } from '@utils/types';
import { Image } from 'astro:assets';
import heroImage from '@assets/hero.jpg';
import musicImage from '@assets/music.jpg';

interface Props {
  titleOptions: PageTitleOptions;
}

const { titleOptions } = Astro.props;

const titleWrapperClass = titleOptions.image.isShown
  ? 'title-wrapper'
  : 'title-wrapper-big';
---

<section class={titleWrapperClass}>
  {
    titleOptions.image.isShown &&
    titleOptions.image.name &&
    titleOptions.image.alt ? (
      <div>
        <Image
          class="image"
          src={titleOptions.image.name === 'index' ? heroImage : musicImage}
          alt={titleOptions.image.alt}
          width="1160"
          height="580"
          decoding="async"
          loading="eager"
        />
      </div>
    ) : null
  }

  <div class="title">
    <h1 class="title__heading font-hgv-regular">
      {titleOptions.heading}
    </h1>
    {
      titleOptions.subheading ? (
        <h2 class="title__subheading font-hgv-light">
          {titleOptions.subheading}
        </h2>
      ) : null
    }
    {
      titleOptions.datePublished ? (
        <p class="title__date font-hgv-uppercase">
          {titleOptions.datePublished}
        </p>
      ) : null
    }
  </div>
</section>

<style lang="scss">
  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding-bottom: var(--space-30-40);
  }

  .title-wrapper-big {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding: var(--space-60-80) 0 var(--space-30-40) 0;
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 2/1;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: var(--space-15-20);
    padding-bottom: var(--space-60-80);
    border-bottom: var(--color-bg-secondary) solid 1px;

    &__heading {
      max-width: 75%;
      font-size: var(--font-size-2xl);

      @media only screen and (width <= 800px) {
        max-width: 100%;
      }
    }

    &__subheading {
      max-width: 50%;
      font-size: var(--font-size-m);

      @media only screen and (width <= 800px) {
        max-width: 100%;
      }
    }

    &__date {
      font-size: var(--font-size-2xs);
      color: var(--color-secondary);
    }
  }
</style>
