---
import type { Post } from '@utils/types';
import { Image } from 'astro:assets';
import arrowLeft from '@images/assets/arrow-left.svg';
import arrowRight from '@images/assets/arrow-right.svg';
import PostCard from '@components/PostCard.astro';
interface Props {
  posts: Post[];
  prevPage?: string;
  nextPage?: string;
  currentPage?: number;
  lastPage?: number;
}

const { posts, prevPage, nextPage, currentPage, lastPage }: Props = Astro.props;

const showPagination: boolean = !prevPage && !nextPage ? false : true;

const pageIndicator: string = `Page ${currentPage} of ${lastPage}`;
---

<div class="posts">
  <div class="posts__grid">
    {
      posts.map((post: Post, index: number) => (
        <PostCard data={post.data} index={index} />
      ))
    }
  </div>
  {
    showPagination ? (
      <div class="posts__pagination">
        {prevPage ? (
          <a href={prevPage}>
            <Image
              class="posts__pagination__arrow"
              src={arrowLeft}
              alt="Newer posts"
              width="25"
              height="25"
              decoding="async"
              loading="lazy"
            />
          </a>
        ) : null}
        <p class="posts__pagination__indicator font-uppercase">
          {pageIndicator}
        </p>
        {nextPage ? (
          <a href={nextPage}>
            <Image
              class="posts__pagination__arrow"
              src={arrowRight}
              alt="Older posts"
              width="25"
              height="25"
              decoding="async"
              loading="lazy"
            />
          </a>
        ) : null}
      </div>
    ) : null
  }
</div>

<style lang="scss">
  .posts {
    padding-top: var(--space-60-80);

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-30-40);

      @media only screen and (width <= 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media only screen and (width <= 480px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-30-40);
      padding-top: var(--space-120-160);

      &__arrow {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
      }

      &__indicator {
        font-size: var(--font-size-xs);
      }
    }
  }
</style>
