---
import type { InferEntrySchema } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  contentMeta: InferEntrySchema<'posts'>;
}

const { contentMeta }: Props = Astro.props;

const postLink: string = `/posts/${contentMeta.slug}`;
---

<article class="post-card">
  <a href={postLink} tabindex={-1}>
    <Image
      class="image"
      src={contentMeta.image.url}
      alt={contentMeta.image.alt}
      width="300"
      height="225"
      decoding="async"
      loading="eager"
      layout="constrained"
    />
  </a>
  <h2 class="title font-geist-regular">
    <a class="link" href={postLink}>{contentMeta.title}</a>
  </h2>
</article>

<style lang="scss">
  .post-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
  }

  .title {
    font-size: var(--font-size-s);
  }
</style>
