---
import { Image } from 'astro:assets';
import logo from '../images/logo.svg';
import navigationItems from '../data/navigationItems.json';
---

<nav class="font-hgv-uppercase wrapper">
  <div class="navigation">
    <div>
      <a href="/"
        ><Image src={logo} alt="Website logo" width="60" height="60" /></a
      >
    </div>
    <div class="desktop-visibility">
      <ul role="list" class="navigation__items">
        {
          navigationItems.map((item) => (
            <li class="navigation__item">
              <a href={item.url}>{item.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="mobile-visibility">
      <button id="menu-button">Menu</button>
    </div>
  </div>
  <div id="menu-wrapper" class="mobile-visibility is-hidden">
    <ul role="list" class="navigation__items--mobile">
      {
        navigationItems.map((item) => (
          <li class="navigation__item--mobile">
            <a href={item.url}>{item.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script>
  document.querySelector('#menu-button').addEventListener('click', () => {
    document.querySelector('#menu-wrapper').classList.toggle('is-hidden');
  });
</script>

<style lang="scss">
  .wrapper {
    padding: var(--space-30-40) 0 var(--space-30-40) 0;
    font-size: var(--font-size-xs);
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__items {
      display: flex;
      gap: var(--space-20-30);

      &--mobile {
        display: flex;
        flex-direction: column;
        gap: var(--space-20-30);
      }
    }

    &__item {
      display: flex;
      align-items: center;
      gap: var(--space-20-30);

      & a {
        text-decoration: none;
        color: var(--color-primary);
        transition: color 0.3s;

        &:hover,
        &:focus {
          color: var(--color-secondary);
        }
      }

      &:not(:first-child) {
        &::before {
          display: block;
          content: '';
          width: var(--space-30-50);
          height: 1px;
          background: var(--color-bg-secondary);
        }
      }

      &--mobile {
        & a {
          text-decoration: none;
          color: var(--color-primary);
          transition: color 0.3s;

          &:hover,
          &:focus {
            color: var(--color-secondary);
          }
        }
      }
    }
  }

  #menu-button {
    border: none;
    background: none;
    transition: color 0.3s;

    &:hover,
    &:focus {
      cursor: pointer;
      color: var(--color-secondary);
    }
  }

  #menu-wrapper {
    padding-top: var(--space-30-40);
  }
</style>
