---
import type { PageTitleOptions } from '@utils/types';
import categories from '@data/categories.json';
import ImageSection from './ImageSection.astro';
import TitleSection from './TitleSection.astro';
import MetaSection from './MetaSection.astro';
import SecondaryNavigation from '@components/common/SecondaryNavigation.astro';

interface Props {
  pageTitle: PageTitleOptions;
}

const { pageTitle }: Props = Astro.props;
---

<section class="page-title-wrapper">
  {pageTitle.image.isVisible ? <ImageSection /> : null}
  <div class="description-wrapper">
    <TitleSection
      heading={pageTitle.heading}
      subheading={pageTitle.subheading}
    />
    {
      pageTitle.categories.areVisible ? (
        <SecondaryNavigation title="Categories" navigationItems={categories} />
      ) : null
    }
    {
      pageTitle.meta.isVisible && pageTitle.meta.datePublished ? (
        <MetaSection
          datePublished={pageTitle.meta.datePublished}
          category={pageTitle.meta.category}
        />
      ) : null
    }
  </div>
</section>

<style lang="scss">
  .page-title-wrapper {
    padding-bottom: var(--space-30-60);
  }

  .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding-top: var(--space-30-80);
  }
</style>
