---
import type { Title } from '@utils/types';
import categories from '@data/categories.json';
import ImageSection from './ImageSection.astro';
import TitleSection from './TitleSection.astro';
import MetaSection from './MetaSection.astro';
import SecondaryNavigation from '@components/common/SecondaryNavigation.astro';

interface Props {
  pageTitle: Title;
}

const { pageTitle }: Props = Astro.props;
---

<section class="page-title">
  {pageTitle.hasImage ? <ImageSection /> : null}
  <div class="description">
    <TitleSection
      heading={pageTitle.heading}
      subheading={pageTitle.subheading}
    />
    {
      pageTitle.hasCategories ? (
        <SecondaryNavigation title="Categories" navigationItems={categories} />
      ) : null
    }
    {
      pageTitle.hasMeta && pageTitle.meta?.datePublished ? (
        <MetaSection
          datePublished={pageTitle.meta.datePublished}
          category={pageTitle.meta.category}
        />
      ) : null
    }
  </div>
</section>

<style lang="scss">
  .page-title {
    padding-bottom: var(--space-60-80);
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: var(--space-30-40);
    padding-top: var(--space-60-80);
  }
</style>
